@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
